div.st-emotion-cache-12w0qpk.e1f1d6gn3 {
    background: #ffffff;
    border-radius: 10px;
}

div.st-emotion-cache-9aoz2h.e1vs0wn30{
    border-radius: 10px;
    background: #ffffff;
}

div.st-emotion-cache-10trblm.e1nzilvr1 {
    border-radius: 10px;
    background: white;
}

div.st-emotion-cache-zt5igj.e1nzilvr4{
    border-radius: 10px;
    background: #ffffff;
}
div.st-emotion-cache-r421ms.e1f1d6gn0{
    border-radius: 10px;
    background: #ffffff;
}